@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
    --bg: #020617;
    --primary: #b668ff;
    --primary-dark: #5b2cff;
    --secondary: #a3e635;
    --text: #ffffff;
    --muted: #94a3b8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle at top left,
            #5b2cff,
            #020617 60%);
    font-family: "Pretendard", sans-serif;
    color: var(--text);
}